# Зависимости
node_modules/
jspm_packages/

# Секреты и настройки
.env
.env.local
.env.*.local
.env.production

# Логи и отладка
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Папки сборки
dist/
build/
out/

# Тесты и покрытие кода
coverage/
.nyc_output/

# Системные файлы и ОС
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
tsconfig.tsbuildinfo

# Редакторы и IDE
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.swp

# БД
/src/generated/prisma